<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by S.Dobranos on 17.11.20 15:25
  ~ Copyright (c) 2020. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fromfinalform.tetris">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".presentation.view.App"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tetris"
        android:largeHeap="true"
        tools:replace="android:allowBackup">

<!--        <service android:enabled="true" android:name="com.fromfinalform.tetris.presentation.model.BackgroundSoundService" />-->

        <activity android:name="com.fromfinalform.tetris.presentation.view.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>